<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053481705891-9lb7m52kjhn7pt2l3oj9vm5de3o8mgr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053481705891-9lb7m52kjhn7pt2l3oj9vm5de3o8mgr8</string>
	<key>API_KEY</key>
	<string>AIzaSyAOo7UubwHsIg7jloxomDjSNZJIMejn60A</string>
	<key>GCM_SENDER_ID</key>
	<string>1053481705891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikiscodes.market</string>
	<key>PROJECT_ID</key>
	<string>nikis-studios</string>
	<key>STORAGE_BUCKET</key>
	<string>nikis-studios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053481705891:ios:1228caf019420f87093a16</string>
	<key>DATABASE_URL</key>
	<string>https://nikis-studios-default-rtdb.firebaseio.com</string>
</dict>
</plist>